body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Courier;
    color: gold;
    background-color: darkgreen;
}

#contenedor {
    border: 1px solid gold;
    width: 80%;

    margin: 20px;
    background-color: rgb(1, 141, 1);
    padding: 1em;
    box-sizing: border-box;

}

nav {
    background-color: gold;
    color: darkgreen;
    margin: 0 0 auto 0;
    width: 100%;
}

footer {
    justify-self: flex-end;
    background-color: gold;
    color: darkgreen;
    margin: auto 0 0 0;
    width: 100%;   
}